.banner-container .banner-wrapper {
  max-width: unset;
  padding: 0;
}

.banner {
  position: relative;
  padding: 40px 24px;
  background-color: blue;
}

.banner h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.banner img {
  /* object-fit: cover; */
  width: 100%;
  height: auto;
}

@media (width >= 900px) {
  .banner {
    padding: 40px 32px;
  }
}