.content-wrapper {
  background-color: blueviolet;
  padding: 40px 24px;
}

.content > div {
  display: flex;
  flex-direction: column;
}

.content img {
  width: 100%;
}

.content > div > div {
  order: 1;
}

.content > div > .content-img-col {
  order: 0;
}

.content > div > .content-img-col img {
  display: block;
}

@media (width >= 900px) {
  .content > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .content > div > div {
    flex: 1;
    order: unset;
  }
}
