.section-block-container .section-block-wrapper {
  max-width: unset;
  padding: 0;
}

.section-block {
  background-color: lightgrey;
  padding: 40px 24px;
}

@media (width >= 900px) {
  .section-block {
    padding: 40px 32px;
  }
}